.component-world {
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;

    padding-bottom: 60px;
}

table {
    margin: 0 auto;
    text-align: center;
    background-color: #3f3d8b;
    min-width: 600px;
}

.component-tile{
    width: 10px;
    height: 10px;
    background-color: #000066;
}

td {
    min-width: 10px;
}

td.floor {
    background-color: #ECE9E9;
}

td.wall {
    background-color: darkgreen;

}

td.char {
    background-color: lightgreen;
}

td.toy {
    background-color: yellow;

}

td.trick {
    background-color: red;
}

td.exit{
    background-color: #b10dc9;
}